
/* 
/////////////////
///BASE 
*/

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #2F4F4F;
    background-image: linear-gradient(to right bottom, #FFFFFF, #F5F5F5);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* 
/////////////////
///LAYOUT 
*/

.container {
    max-width: 140rem;
    margin: 6rem auto;
    min-height: 50rem;

}

#script__container {
    
}

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 
/////////////////
///COMPONENTS
*/
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .6rem 3rem;
    width: 70%;
    border-radius: 100px;
    margin-right: -3rem;
    transition: all .3s;
}

.search__input:focus {
    outline: none;
    width: 100%;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: #777;
}
